[submodule "nvim"]
	path = core/dot-config/nvim
	url = https://github.com/kvitee/nvim-config
[submodule "alacritty/themes"]
	path = alacritty/dot-config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
	shallow = true
[submodule "omz/plugins/fzf-zsh-plugin"]
	path = core/dot-config/omz/plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
	shallow = true
[submodule "omz/plugins/zsh-syntax-highlighting"]
	path = core/dot-config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
